<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Templating</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
    
        <h1>Browsing the subreddit: <%=name %> subreddit</h1>
        <h2><%= description %> </h2>
        <br>
        <p><%= subscribers %> Total Subscribers</p>
      <hr>
     <% for(let post of posts){ %> 
        <article>
            <p><%= post.title %> :  <b><%= post.author %></b></p>
           <% if(post.img){ %> 
            <img src="<%= post.img %> " alt="">
            <% } %> 
        </article> 
    <% } %> 
      

    </div>
  </section>
  </body>
</html>